body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7d5b8c;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Botão para voltar à tela inicial */
.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #7d5b8c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.home-button:hover {
    background-color: #c27edf;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
    padding: 0 20px; /* Adiciona espaçamento nas laterais */
}

/* Cada card ocupa 100% da coluna */
.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s; /* Transição suave para hover */
}

/* Efeito de hover para os cards */
.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
}

/* Ajusta as imagens para que fiquem quadradas e alinhadas */
.card img {
    width: 100%;
    height: 200px; /* Altura fixa para as imagens */
    object-fit: cover; /* Faz a imagem cobrir todo o espaço, mantendo a proporção */
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }

    .card {
        width: 90%; /* Os cards ocupam 90% da tela em dispositivos móveis */
    }
}

/* Responsividade para telas médias */
@media (min-width: 601px) and (max-width: 900px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }
}

/* Manter 3 colunas em telas maiores */
@media (min-width: 901px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas para telas grandes */
    }
}
