body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Botão para voltar à tela inicial */
.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.home-button:hover {
    background-color: #45a049;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Cada card ocupa 30% da largura da tela com margens */
.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(30% - 20px); /* Largura dos cards para 3 por linha */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}


/* Responsividade - 3 cards por linha em telas maiores */
@media (min-width: 768px) {
    .card-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: calc(30% - 20px); /* 3 cards por linha */
    }
}

/* Responsividade - 1 card por linha em telas menores */
@media (max-width: 767px) {
    .card-container {
        flex-direction: column;
        align-items: center; /* Centraliza os cards na coluna */
    }

    .card {
        width: 90%;  /* Cards ocupam 90% da tela em dispositivos móveis */
        margin: 10px 0;  /* Margem em cima e embaixo */
    }
}
